/Backend/.vs
/Backend/.idea

/Backend/.sln.DotSettings

/Backend/CRMSystem.WebAPI/bin
/Backend/CRMSystem.WebAPI/obj



/Frontend/.vs
/Frontend/.idea

/Frontend/CRMSystemApp/bin
/Frontend/CRMSystemApp/obj